@import 'src/styles/shared.scss';

.cofi-page-index {
  padding-top: $space-md + 5;
  height: 100%;
  width: 100%;
  background: black;
}

.cofi-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 120px;
}

.cofi-button {
  width: 200px;
  margin: 40px;
}