@import 'src/styles/shared.scss';

.cofi-page-pool {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 300px 300px 500px 500px;
  grid-template-areas:
            'a a b'
            'a a c'
            'd d d'
            'e e e';
  row-gap: 36px;

  .card1 {
    grid-area: a;
    width: 100%;
    height: 100%;
  }

  .card2 {
    width: 100%;
    height: 100%;
    grid-area: b;
  }

  .card3 {
    width: 100%;
    height: 100%;
    grid-area: c;
  }

  .card4 {
    width: 100%;
    height: 100%;
    grid-area: d;
  }

  .card5 {
    width: 100%;
    height: 100%;
    grid-area: e;
  }
}
