.cofi-title1 {
  font-family: American Typewriter, serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(91.55deg, #DF5A4A 0%, #D68D6F 100%);
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
}

.cofi-desc {
  font-family: OPPOSans, fangsong;
  font-weight: lighter;
  font-size: 12px;
  text-align: center
}