@import 'src/styles/shared.scss';

.cofi-page-id {
  padding-top: $space;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-areas:
            'a b c d'
            'e e e e'
            'f f f f'
            'g g g g';
  row-gap: 36px;

  .card1 {
    grid-area: a;
    width: 100%;
    height: 100%;
  }

  .card2 {
    width: 100%;
    height: 100%;
    grid-area: b;
  }

  .card3 {
    width: 100%;
    height: 100%;
    grid-area: c;
  }

  .card4 {
    width: 100%;
    height: 100%;
    grid-area: d;
  }

  .card5 {
    width: 100%;
    height: 100%;
    grid-area: e;
  }

  .card6 {
    width: 100%;
    height: 100%;
    grid-area: f;
  }
}
